src/main/app/twittermash.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/current/mule-twilio.xsd">
    <twitter:config name="Twitter" accessKey="${twitter.accessKey}" accessSecret="${twitter.accessSecret}" consumerKey="${twitter.consumerKey}" consumerSecret="${twitter.consumerSecret}" doc:name="Twitter"/>
    <twilio:config name="Twilio" accountSid="${twilio.account.sid}" authToken="${twilio.auth.token}" doc:name="Twilio">
    <twilio:http-callback-config />
	</twilio:config>
    <flow name="show-user" doc:name="show-user">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="showUser" doc:name="HTTP"/>
        <twitter:show-user config-ref="Twitter" doc:name="Show User"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="update-status" doc:name="update-status">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="updatestatus" doc:name="HTTP"/>
        <twitter:update-status config-ref="Twitter" status="#[header:INBOUND:mymessage]" doc:name="Twitter"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="get-status" doc:name="get-status">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="getstatus" doc:name="HTTP"/>
        <twitter:get-user-timeline-by-user-id config-ref="Twitter" userId="2922997999" count="1" doc:name="Twitter"/>
        <logger message="logger #[payload[0].text]" level="INFO" doc:name="Logger"/>
        <set-variable variableName="status" value="#[payload[0].text]" doc:name="set status"/>
        <twilio:send-sms-message config-ref="Twilio" accountSid="${twilio.account.sid}" body="Your Status Is: #[flowVars[&quot;status&quot;]]" from="${twilio.from.phone.number}" to="${twilio.to.phone.number}" doc:name="Send Notification to Phone"/>
        <set-payload value="Your status is &quot;#[flowVars[&quot;status&quot;]]&quot;" doc:name="Set Payload"/>
    </flow>
    <flow name="UpdateStatus-SendSMS" doc:name="UpdateStatus-SendSMS">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="updateandsms" doc:name="HTTP"/>
        <set-variable variableName="status" value="#[java.net.URLDecoder.decode(message.inboundProperties['newstatus'])]" doc:name="Variable"/>
        <twitter:update-status config-ref="Twitter" status="#[flowVars[&quot;status&quot;]]" doc:name="Update Twitter"/>
        <twilio:send-sms-message config-ref="Twilio" accountSid="${twilio.account.sid}" body="Your twitter status has been changed to: #[flowVars[&quot;status&quot;]]" from="${twilio.from.phone.number}" to="${twilio.to.phone.number}" doc:name="Send Notification to Phone"/>
        <set-payload value="Your new status has been updated to &quot;#[flowVars[&quot;status&quot;]]&quot; and a notification has been sent to ${twilio.to.phone.number}" doc:name="Set Payload"/>
    </flow>
</mule>
